<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" style="height: 100%">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>发送进度</title>
    <script type="text/javascript" src="/webjars/jquery/3.1.1/jquery.min.js"/>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
    <link rel="stylesheet" th:href="@{~/common.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{~/progress.css}" type="text/css" />
    <script type="text/javascript" th:src="@{~/progress2.js}"></script>
</head>
<body style="width: 100%;height:800px">
<span id="subject" th:text="${subject}" style="visibility: hidden "></span>
<div id="result"></div>
<div id="message"></div>
</body>
</html>