 * {
    font-family: 仿宋，微软雅黑,宋体,Georgia;
}

body{
    text-align: center;
}
button{
    padding: 1em;
    background-color: azure;

}

h1 {
    padding: 10px;
    border-bottom: 1px solid #545412;
    font-size: 2em;
    font-weight:bolder;
}

table{border:0;border-collapse:collapse;margin:auto}
tr td,tr th{border-bottom:1px solid #AAA;border-right:1px solid #AAA;padding-top:2px;padding-bottom:2px;padding-left:5px;padding-right:5px;vertical-align:middle;text-align:center;}
 tr td:last-child,tr th:last-child{
     border-right:0;
 }
